.weather {
  border: 1px solid #0a3968;
  padding: 40px;
  margin: 40px auto;
  max-width: 900px;
  border-radius: 7px;
  display: block;
  background-color: rgba(255, 255, 255, 0.41);
  color: #fff;
}
.city-name {
  color: #0a3968;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.temperature {
  font-size: 60px;

  color: #0a3968;
  margin-left: 120px;
}
.day-date {
  font-size: 16px;
  color: #0a3968;
  text-align: center;
  margin-top: 25px;
}
.units {
  text-align: right;
  margin-left: 50px;
  position: relative;
  bottom: -50px;
}
.weather-icon {
  height: 100px;
  width: 100px;
  margin-left: 10px;
}

.col {
  color: #0a3968;
}
body {
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  overflow-wrap: normal;
}

.col-8 {
  border-color: #0a3968;
}
p {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
a:hover {
  color: #0a3968;
  cursor: pointer;
}
a {
  color: #f5ae1a;
  text-decoration: none;
}
.link-cv:hover {
  cursor: pointer;
  background-color: #0a3968;
  color: #fff;
}
.link-cv {
  color: white;
  text-decoration: none;
}
.description {
  text-transform: capitalize;
  color: #0a3968;
  text-align: center;
}

.weather-forecast {
  text-align: center;
  color: #0a3968;
}
.image {
  width: 100px;
  height: 100px;
  border: 1px solid;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(10, 57, 104, 0.3);
  margin-bottom: 30px;
}
